body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.light-yellow{
    background-color: rgba(226, 226, 94, 0.517) !important;
}

.light{
    background-color: rgba(137, 183, 201, 0.292) !important;
}

.tag{
    font-size: 0.9rem !important;
}

.card-title {
    font-size: 1.2rem;
}

.card-desc {
    font-size: 0.9rem;
}

.card-img{
    height: 100%;
    background-size: cover;
}

@media (max-width: 632px) {
    .card-title {
        font-size: 1rem;
    }
    
    .card-desc, .btn {
        font-size: 0.8rem !important;
    }

    .card-img{
        height: 250px;
    }
}